input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* index.html */
.dateTimeHeader {
  /* padding: 1px;
  padding-left: 10px; */
}

/* index.html */
.currentTime {
}

/* index.html */
.currentDate {
  margin-top: -20px;
}

.overtimeCalculatorForm {
  display: flex;
  color: #000;
  border-radius: 10px;
  background-color: gray;
}

/* index.html | overtimeCalculator */
.inputHeader {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/* index.html | overtimeCalculator */
.inputHeader li {
  display: flex;
  padding-left: 35px;
}

/* index.html | overtimeCalculator */
.inputMonday {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/* index.html | overtimeCalculator */
.inputMonday li {
  display: flex;
  padding-left: 35px;
}

/* index.html | overtimeCalculator */
.mondayInputs {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.mondayInputs input {
  margin-left: 20px;
}

/* index.html | overtimeCalculator */
.inputTuesday {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/* index.html | overtimeCalculator */
.inputTuesday li {
  display: flex;
  padding-left: 35px;
}

/* index.html | overtimeCalculator */
.tuesdayInputs {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.tuesdayInputs input {
  margin-left: 20px;
}

/* index.html | overtimeCalculator */
.inputWednesday {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/* index.html | overtimeCalculator */
.inputWednesday li {
  display: flex;
  padding-left: 35px;
}

/* index.html | overtimeCalculator */
.wednesdayInputs {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.wednesdayInputs input {
  margin-left: 20px;
}

/* index.html | overtimeCalculator */
.inputThursday {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/* index.html | overtimeCalculator */
.inputThursday li {
  display: flex;
  padding-left: 35px;
}

/* index.html | overtimeCalculator */
.thursdayInputs {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.thursdayInputs input {
  margin-left: 20px;
}

/* index.html | overtimeCalculator */
.inputFriday {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/* index.html | overtimeCalculator */
.inputFriday li {
  display: flex;
  padding-left: 35px;
}

/* index.html | overtimeCalculator */
.fridayInputs {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.fridayInputs input {
  margin-left: 20px;
}
