* {
  background-color: #333;
}

/* Overtime Calculator */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"] {
  color: #89aaa9;
  cursor: pointer;
}

/* ////////////////////////// */
/* Inputs  */
.inputHeader {
  display: flex;
  color: #a6cbbe;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 15%;
}

.inputHeader li {
  margin-right: 2em;
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 15%;
  padding-left: 2.5em;
}

.inputs input {
  margin-right: 2.7em;
}

/* ////////////////////////// */
/* Vertical Line  */
.vLine {
  margin-left: 1vw;
  border-left: 3px solid #89aaa9;
  height: 8vw;
  border-radius: 1px;
}

/* ////////////////////////// */
/* Calculator Form  */
.overtimeCalculatorForm {
  padding-top: 2%;
  display: flex;
}

/* ////////////////////////// */
/* Outputs  */
.outputs {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 1vw;
}

.outputs li {
  padding-bottom: 1vw;
  display: flex;
  flex-direction: column;
  color: #a6cbbe;
  align-items: center; /* Zentriert den Text und die Zeitangabe */
}

.outputs p {
  color: #89aaa9;
  margin: 0; /* Entfernt den Standardabstand */
}

/* ////////////////////////// */
/* Calculate Button  */
.calculateBttn {
  display: flex;
  margin-left: 15em;
  background-color: #89aaa9;
  border: none;
  border-radius: 3px;
  color: #333;
}
